/* ----- Om oss sektion ----- */
.aboutSection {
  width: 100%; /* Fyller hela bredden */
  display: flex; /* Flexbox för layout */
  justify-content: center; /* Centrerar innehållet horisontellt */
  margin-top: 5vh; /* Lägger till toppmarginal */
}

/* ----- Container för "Om oss" sektionen ----- */
.aboutContainer {
  max-width: 70vh; /* Maxbredd för containern */
  display: flex; /* Flexbox för layout */
  flex-direction: column; /* Vertikal layout på små skärmar */
  align-items: center; /* Centrerar innehållet horisontellt */
  text-align: center; /* Texten centreras */

  background: linear-gradient(to right, #f0f0f0, transparent 50%, white); /* Bakgrund med gradient */
  border-radius: 3px; /* Rundade hörn */
  color: rgb(0, 0, 0); 
}

/* ----- Textcontainer ----- */
.textContainer {
  margin-bottom: 20px; /* Avstånd mellan text och bild */
  text-align: left; /* Justerar texten till vänster på större skärmar */
  padding: 3vh;
}

/* ----- Bildcontainer ----- */
.imageContainer img {
  width: 100%; /* Gör bilden fullbredd */
  max-width: 460px; /* Maxbredd för bilden */
  height: auto; /* Höjd på 40% av viewporten */
  object-fit: contain; /* Bibehåller bildens proportioner */
  border-radius: 3px; /* Rundade hörn på bilden */
}

.textContainer h2 {
  font-size: 2rem; 
}

/* ----- Responsiv design för större skärmar (1000px eller större) ----- */
@media (min-width: 1000px) {
  .aboutContainer {
      flex-direction: row; /* Ändrar layout till horisontell för större skärmar */
      text-align: left; /* Textjustering till vänster på större skärmar */
      align-items: center; /* Centrerar vertikalt på större skärmar */
      max-width: 1000px; /* Maxbredd för större skärmar */
  }

  .textContainer {
      flex: 1; /* Ger textcontainern lika stor plats som bilden */
      margin-right: 20px; /* Lägg till avstånd mellan text och bild */
  }

  .imageContainer {
      flex: 1; /* Bilden får lika stor plats som texten */
  }

  .imageContainer img {
      max-width: 100%; /* Bilden fyller hela bredden på containern */
      
  }
  .textContainer h2 {
      font-size: 2rem; 
  }

}
