.contactContainer {
    width: 100%;
    text-align: center;
    padding-top: 1vh;
  }
  
  .bannerImage {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -0;
    height: 18vh;
    width: 100%;
    object-fit: cover;
   
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #222;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
  }
  
  .contactForm {
    
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  
  .inputField,
  .textArea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    width: 100%;
  }
  
  .submitBtn {
    padding: 1rem;
    background-color: #333;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
  }
  
  .submitBtn:hover {
    background-color: #555;
  }
  