/* .galleryContainer */
.galleryContainer {
  text-align: center; /* Centrerar texten */
  z-index: 1; /* Bestämmer lagerordning för att hålla elementet över andra */
  height: auto; /* Höjden anpassas efter innehållet */
}

/* .galleryContainertwo */
.galleryContainertwo {
  display: flex; /* Flexbox, för att justera element horisontellt eller vertikalt */
  width: 100%; /* 
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt */
  flex-direction: column; /* Arrangerar elementen i en kolumn */
  margin-bottom: 6vh;
 
}

/* .newpicturestyle */
.newpicturestyle {
  z-index: -1; /* Bilden kommer att vara bakom andra element */
  height: 18vh; /* Bildens höjd är 18% av viewportens höjd */
  width: 100%; /* Bilden täcker hela bredden */
  object-fit: cover; /* Bilden skalas så att den täcker hela området utan att deformeras */
}

/* .textContainer */
.textContainer {
  margin-top: 2vh; /* Lite utrymme ovanför */
  border-radius: 10px; /* Rundade hörn */
  text-align: left; /* Justera texten till vänster */
  padding: 3vh; /* Lite padding runt texten */
  max-width: 110vh; /* Sätter max bredd på containern */
 
  
}

/* .title */
.title {
  font-size: 2.1rem; /* Större textstorlek på titeln */
  margin-bottom: 2rem; /* Lite utrymme under titeln */
  color: #222; /* Färg på texten */
  text-align: center;
  padding: 1vh;
  text-decoration: underline;
  
}
h3{
  font-size: 1.6rem;
  text-decoration: underline;
}



.cardImage {
  max-width: 100vh;
  width: 100%; /* Gör att bilderna fyller hela bredden på kortet */
  height: auto; /* Gör så att höjden justeras proportionellt */
  object-fit: cover; /* Gör så att bilderna fyller sin container utan att bli förvrängda */
  border-radius: 5px; /* Runda hörnen för varje bild i kortet */
}
/* För mobilform: visa endast en bild */
.cardImage {
  width: 40vh; /* Gör att bilderna fyller hela bredden på kortet */
  height: 40vh; /* Gör så att höjden justeras proportionellt */
  object-fit: cover; /* Gör så att bilderna fyller sin container utan att bli förvrängda */
  border-radius: 5px; /* Runda hörnen för varje bild i kortet */
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4); 
}

/* För att justera layouten för korten */
.imageCards {
  margin-left: 2vh;
  max-width: 100vh;
  display: flex;
  justify-content: space-around; /* Ser till att bilderna är jämnt fördelade */
  flex-wrap: wrap; /* Gör att korten bryts till ny rad när det behövs */
  gap: 20px; /* Lägger till avstånd mellan korten */
  margin-top: 2rem; /* Lite utrymme över galleriet */
  
}
.card{
  width: 39vh;
  text-align: left;
  padding: 3px;
  border-radius: 3px;
  
}




/* .navBtn */
.navBtn {
  position: absolute; /* Absolut position för att placera knapparna ovanpå bilden */
  top: 50%; /* Vertikal centrering */
  transform: translateY(-50%); /* Justera för att exakt centrera knappen */
  background-color: rgba(187, 187, 187, 0.5); /* Halvgenomskinlig bakgrundsfärg */
  opacity: 0.4; /* Gör knapparna genomskinliga */
  color: white; /* Vit textfärg */
  border: none; /* Ingen kantlinje */
  padding: 0.5rem 1rem; /* Padding för knappen */
  cursor: pointer; /* Gör att det ser ut som en knapp */
  font-size: 1.1rem; /* Textstorlek för knappen */
  border-radius: 5%; /* Rundade hörn på knappen */
  z-index: 2; /* Sätter knapparna ovanpå bilderna */
  transition: background-color 0.2s ease; /* Smidig övergångseffekt vid hover */
}

/* .navBtn:hover */
.navBtn:hover {
  background-color: rgba(85, 85, 85, 0.7); /* När man hovrar på knappen, ändras bakgrundsfärgen */
}

/* .left */
.left {
  left: 1rem; /* Placera vänster knapp */
}

/* .right */
.right {
  right: 1rem; /* Placera höger knapp */
}





/* .scrollToTopBtn */
.scrollToTopBtn {
  position: fixed; /* Fixerar knappen på sidan */
  bottom: 60px; /* Placerar den nära botten */
  right: 40px; /* Placerar den nära högerkanten */
  background: linear-gradient(to bottom, rgb(85, 85, 85), transparent 100%, rgb(201, 201, 201)); /* Gradientbakgrund */
  color: white; /* Vit text */
  border: none; /* Ingen kantlinje */
  padding: 15px; /* Padding för knappen */
  border-radius: 8%; /* Rundade hörn */
  cursor: pointer; /* Gör knappen klickbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Lägger till skugga på knappen */
  transition: background-color 0.3s ease; /* Mjuk övergång vid hover */
}

/* .scrollToTopBtn:hover */
.scrollToTopBtn:hover {
  background-color: #4d4d4d; /* Ändrar bakgrundsfärg när man hovrar */
}

/* .arrowIcon */
.arrowIcon {
  width: 50px; /* Storlek på pilikonen */
  height: 30px; /* Höjd på pilikonen */
  stroke: white; /* Färgen på pilen */
}

/* Media query för skärmar större än 1000px */
@media screen and (min-width: 1000px) {
  /* Förändringar vid större skärmar */
  .carousel {
    max-width: 90vh; /* Ökad maxbredd */
    border-radius: 3px; /* Rundade hörn på karusellen */
    padding: 3vh; /* Mer padding */
    margin-bottom: 6vh; /* Mer utrymme under karusellen */
  }

  .imageBox {
    width: 70vh; /* Ökad bredd */
    height: 500px; /* Ökad höjd */
  }

  .textContainer {
    max-width: 90vh; /* Ökad maxbredd */
    font-size: 1.1rem; /* Ökad textstorlek */
    margin-top: 6vh; /* Mer utrymme ovanför */
  }

  .navBtn {
    font-size: 1.8rem; /* Större text på knapparna */
    padding: 1rem 1.2rem; /* Mer padding */
    opacity: 0.6; /* Minskat opacity */
  }

  .title {
    font-size: 2.5rem; /* Större text på titeln */
  }

  /* Flexbox för galleryContainertwo */
  .galleryContainertwo {
    display: flex;
    justify-content: center; /* Centrerar horisontellt */
    align-items: center; /* Centrerar vertikalt */
    flex-direction: column; /* Arrangerar element i kolumn */
  }
}
