.galleryContainer {
  text-align: center;
 z-index: 1;
 height: auto;
  
  

}

.galleryContainertwo{
  
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}


.newpicturestyle {
  z-index: -1;
  height: 18vh;
  width: 100%;
  object-fit: cover;
  
}
.textContainer{
  margin-top: 2vh;
  border-radius: 2px;
  text-align: left;
  padding: 2vh;
  max-width: 60vh;
  background: linear-gradient(to bottom, rgb(211, 211, 211), transparent 50%, white);
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #222;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  
  width: 100%;
  max-width: 60vh;
  margin: 0 auto;
  background: linear-gradient(to top,  rgb(211, 211, 211), transparent 50%, white);
  margin-bottom: 2vh;
  border-radius: 2px;
}

.imageBox {
  width: 48vh;
  height: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(187, 187, 187, 0.5);
  opacity: 0.4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5%;
  z-index: 2;
  transition: background-color 0.2s ease;
}

.navBtn:hover {
  background-color: rgba(85, 85, 85, 0.7);
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

.imageItem {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #555;
  background-color: #ddd;
  border-radius: 3px;
  transition: opacity 0.5s ease;
  
}

.imageItem.active {
  display: flex;
}


.imageItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
 
 
}

/*Icon for scrolling to top*/
.scrollToTopBtn {
  position: fixed;
  bottom: 60px;
  right: 40px;
  background: linear-gradient(to bottom, rgb(85, 85, 85), transparent 100%, rgb(201, 201, 201));
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8%; /* Gör knappen rund */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scrollToTopBtn:hover {
  background-color: #4d4d4d;
}

.arrowIcon {
  width: 50px; /* Ställ in storlek på pilen */
  height: 30px;
  stroke: white; /* Pilens färg */
}

@media screen and (min-width: 1000px) {
 

  .carousel {
    max-width: 90vh;
    border-radius: 3px;
    padding: 3vh;
    margin-bottom: 6vh;
  }

  .imageBox {
    width: 70vh;
    height: 500px;
    
  }

  .textContainer {
    max-width: 90vh;
    font-size: 1.1rem;
    margin-top: 6vh;
  }

  .navBtn {
    font-size: 1.8rem;
    padding: 1rem 1.2rem;
    opacity: 0.6;
  }

  .title {
    font-size: 2.5rem;
  }
  .galleryContainertwo{
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
   }
}
