/* homepage.module.css */
.homepage {
  height: auto;
    position: relative;
    overflow: hidden;
  }
  
  .videoContainer {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  
  .backgroundVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;
    color: white;
    padding: 10px;
    z-index: 1;
    max-width: 79vh;
  }
  .contenttwo{
    max-width: 68vh;
    padding: 1.4vh;
    opacity: 0;
    animation: fadeInFromLeft 1s ease-out forwards;
  }
  
  .servicesHeader{
    font-size: 1.3rem;
    
  }
  .header {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.1rem;
    
  }
  
  .buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttonstwo{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
  }
  .servicesBtnlink{
    border: 1px solid white;
    border-radius: 2px;
    padding: 1vh;
    background-color: transparent;
    color: white;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    width: 17vh;
    
    
  }
  .servicesBtnlink:hover{
    background-color: rgb(235, 235, 235);
    opacity: 0.8;
    color:black;
  }

  .servicesBtn{
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    padding: 1vh;
   width: 18vh;
   font-weight: 500;
   text-decoration: none;
    background-color: transparent;
    color: white;
    cursor:pointer;
   
  }
  .servicesBtn:hover{
    background-color: rgb(235, 235, 235);
    opacity: 0.8;
    color:black;
  }

  .scrollToTopBtn {
    position: fixed;
    bottom: 60px;
    right: 40px;
    background: linear-gradient(to bottom, rgb(85, 85, 85), transparent 100%, rgb(201, 201, 201));
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8%; /* Gör knappen rund */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .scrollToTopBtn:hover {
    background-color: #4d4d4d;
  }
  
  .arrowIcon {
    width: 50px; /* Ställ in storlek på pilen */
    height: 30px;
    stroke: white; /* Pilens färg */
  }
  .servicesBtnlink,
.servicesBtn {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  /* För skärmar större än 1000px (knappar bredvid text) */
  @media (min-width: 400px) {
  
    .header {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    
    .servicesBtn{
      font-size: 1.1rem;
     
    }
    .description {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    .servicesHeader{
      font-size: 1.4rem;
      
    }
  }

    /* För skärmar större än 1000px (knappar bredvid text) */
    @media (min-width: 600px) {
  
      .header {
        font-size: 1.9rem;
        margin-bottom: 10px;
      }
      
      .servicesBtn{
        font-size: 1.1rem;
       
      }
      .description {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      .servicesHeader{
        font-size: 1.4rem;
        
      }
    }
  
  
  
  /* För skärmar större än 1000px (knappar bredvid text) */
  @media (min-width: 1000px) {
    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;
      gap: 20px;
      max-width: 95vh;
    }
  
    .buttons {
      flex-direction: column;
      margin-top: auto;
      transform: translateY(-50%);
    }
    .contenttwo {
      margin-bottom: 0vh;
    }
    
    .servicesBtn{
      font-size: 1.2rem;
     
    }
    .servicesBtn:hover{
      background-color: rgb(235, 235, 235);
      opacity: 0.8;
      color:black;
    }
    .header {
      font-size: 2.6rem;
      margin-bottom: 10px;
    }
    
    .servicesBtn{
      font-size: 1.1rem;
     
    }
    .description {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    .servicesHeader{
      font-size: 2rem;
      
    }
  }
  